@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  background-color: rgba(2, 15, 20);
}

body {
  font-family: "Poppins", sans-serif;
  color: rgba(2, 15, 20);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

canvas {
  display: flex;
  background: rgba(2, 15, 20);
  width: 95vw;
  height: 88vh;
  flex-wrap: wrap;
}

p {
  display: fixed;
  position: fixed;
  left: 0;
  bottom: 15px;
  color: rgb(195, 213, 241);
  z-index: 10;
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  opacity: 0.5;
  width: 100%;
  text-align: center;
  margin: 0;
  justify-content: center;
}

#container {
  margin-top: 0px;
  grid-area: container;
  background-color: rgba(2, 15, 20);
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-container {
  display: flex;
  position: relative;
  color: azure;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  transition: all 0.3s ease-in-out;
}

.flex-child {
  margin-top: 5px;
  justify-content: center;
  flex: 1;

}

.flex-child:first-child {
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
}

nav {
  position: relative;
  background-color: #0d2333;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

nav a {
  font-size: 20px;
  color: #ffff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(143, 64, 101);
}

nav h2:hover {
  cursor: none;
  color: rgb(143, 64, 101);
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
}

button {
  background-color: #5584ac;
  border: 2px solid #22577e;
  border-radius: 12px;
  padding: 10px 24px;
  font-size: 16px;
  color: azure;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #5584ac;
  color: #22577e;
}

.search {
  margin: 20px;
  background-color: transparent;
  border: 2px solid #5584ac;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #5584ac;
}

.search::placeholder {
  color: #5584ac;
}

.search:focus {
  outline: none;
  background-color: azure;
}

.gif {
  width: 320px;
  height: 350px;
  margin: 1rem;
  background-color: #5584ac;
  box-shadow: 0 4px 5px rgba(27, 76, 101, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  font-family: Poppins;
}

.gif img {
  width: 100%;
}

.gif-details {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem 0.5rem;
  letter-spacing: 0.25px;
}

.gif-details h3 {
  margin-top: 0;
}

.gif-details span {
  cursor: pointer;
  background-color: #1e4f6f;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  color: azure;
}

.details {
  background-color: rgb(203, 220, 223);
  color: rgb(143, 64, 101);
  font-size: 14px;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3sec ease-in;
}

.gif:hover .details {
  transform: translateY(0);
}

#upload-form {
  background-color: #5584ac;
  border: 2px solid #22577e;
  border-radius: 15px;
  padding: 30px 80px;
  font-size: 16px;
  color: azure;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 600px;
}

#upload-btn {
  background-color: #5584ac;
  border: 2px solid #22577e;
  border-radius: 12px;
  padding: 10px 10px;
  font-size: 16px;
  color: azure;
  cursor: pointer;
  transition-duration: 0.4s;
  align-content: center;
  align-self: auto;
  margin: auto;
}

#upload-btn:hover {
  background-color: #5584ac;
  color: #22577e;
}

.errors {
  background-color: #5584ac;
  border: 2px solid #22577e;
  border-radius: 15px;
  padding: 38px 122px;
  font-size: 18px;
  color: azure;
  margin-top: 20px;
  margin-left: 600px;
}

.upload-done {
  background-color: #5584ac;
  border: 2px solid #22577e;
  border-radius: 15px;
  text-align: center;
  padding: 30px 80px;
  font-size: 25px;
  color: azure;
  margin: auto;
}

input[type="file"]::file-selector-button {
  background-color: #5584ac;
  border: 2px solid #22577e;
  border-radius: 12px;
  padding: 10px 10px;
  font-size: 16px;
  color: azure;
  cursor: pointer;
  transition-duration: 0.4s;
  align-content: center;
  align-self: auto;
  margin: auto;
}

#copy {
  background-color: inherit;
  margin-top: 20px;
  border-radius: 5%;
  border: 2px solid #5584ac;
  font-family: inherit;
  color: #5584ac;
  padding: 0.5rem 1rem;
  width: 200px;
}

#copy:focus {
  outline: none;
  background-color: azure;
}